:root {
	color-scheme: light dark;
}
:root, .light-theme {
    --content-bg-color:#f2f2f2;
    --bg-color: #FFFFFF;
    --alt-bg-color: #f7f7f7;
    --trans-alt-bg-color: #f7f7f7cc;
    --nav-text-color: #000;
    --nav-hover-color: #b4e1ff;
    --nav-bottom-border: #e3e3e3;
    --text-color: #000;
}
@media (prefers-color-scheme: dark) {
	:root {
      --content-bg-color:#3b3b3b;
	    --bg-color: #000;
	    --alt-bg-color: ##1a1a1a;
      --trans-alt-bg-color: #1a1a1acc;
	    --nav-text-color: #fff;
	    --nav-hover-color: #b4e1ff;
      --nav-bottom-border: #212121;
      --text-color: #fff;
	}
}
:root[data-theme="dark"], .dark-theme {
    --content-bg-color:#3b3b3b;
    --bg-color: #000;
    --alt-bg-color: ##1a1a1a;
    --trans-alt-bg-color: #1a1a1acc;
    --nav-text-color: #fff;
    --nav-hover-color: #b4e1ff;
    --nav-bottom-border: #212121;
    --text-color: #fff;
}

html {
font-family:'Raleway',sans-serif;
}

body {
background-color: var(--bg-color);
display:block;
margin:1%;
width:auto;
}

#nav {
padding: 1em;
background-color:var(--content-bg-color);
margin-left:15vw;
margin-right:15vw;
text-align:right;
box-shadow:0.5vw 0.5vw var(--nav-bottom-border);
border-radius: 5px;
}

#name {
display:inline-block;
float:left;
padding:1em;
vertical-align:top;
}

#name_img {
height:8vh;
width:auto;
}

.h_nav {
-webkit-transition-duration:.4s;
background-color:var(--content-bg-color);
border:none;
color:var(--nav-text-color);
display:inline-block;
font-size:18px;
padding:2em;
text-decoration:none;
transition-duration:.4s;
vertical-align:top;
white-space: nowrap;
}

.h_nav:visited {
text-decoration:none;
}

.h_nav:hover {
color:var(--nav-hover-color);
}
@media (max-width: 490px) {
  #nav{
    text-align: left;
    display: block;
  }
  #name{
    text-align: center;
  }
}

#footer {
color: var(--text-color);
background-color:transparent;
font-size:12px;
margin-bottom:0;
text-align:center;
width: inherit;
}

#content {
display:block;
margin-left:15vw;
margin-right:15vw;
margin-top:2vh;
}

#inner_content {
background-color:var(--content-bg-color);
color: var(--text-color);
display:flex;
padding-left:2vw;
padding-right:2vw;
border-radius: 5px;
box-shadow:0.5vw 0.5vw var(--nav-bottom-border);
}

#insta {
display:inline-block;
margin-right:5vw;
margin-top:1vw;
}

#welcome {
display:inline-block;
float:right;
font-size:16px;
overflow-wrap:break-word;
word-wrap:normal;
}
