:root {
	color-scheme: light dark;
}
:root, .light-theme {
	--content-bg-color:#f5f5f5;
	--bg-color: #FFFFFF;
	--alt-bg-color: #f7f7f7;
	--trans-alt-bg-color: #f7f7f7cc;
	--nav-text-color: #000;
	--nav-hover-color: #4aabfa;
	--nav-bottom-border: #e3e3e3;
	--text-color: #000;
}
@media (prefers-color-scheme: dark) {
	:root {
		--content-bg-color:#3b3b3b;
		--bg-color: #000;
		--alt-bg-color: ##1a1a1a;
		--trans-alt-bg-color: #1a1a1acc;
		--nav-text-color: #fff;
		--nav-hover-color: #4aabfa;
		--nav-bottom-border: #212121;
		--text-color: #fff;
	}
}
:root[data-theme="dark"], .dark-theme {
	--content-bg-color:#3b3b3b;
	--bg-color: #000;
	--alt-bg-color: ##1a1a1a;
	--trans-alt-bg-color: #1a1a1acc;
	--nav-text-color: #fff;
	--nav-hover-color: #4aabfa;
	--nav-bottom-border: #212121;
	--text-color: #fff;
}
/*ALL*/
html {
	font-family:'Raleway',sans-serif;
}

body {
	background-color: var(--bg-color);
	overflow-x: hidden;
	display:block;
	margin:1%;
	width:auto;
	font-size: 100%;
	line-height: 1.125em;
}

.content {
	display:block;
	margin-left:10vw;
	margin-right:10vw;
	margin-top:1.5em;
}

.inner_content {
	background-color:var(--content-bg-color);
	color: var(--text-color);
	box-shadow:10px 10px var(--nav-bottom-border);
	display: flex;
	padding: 2em;
	border-radius: 5px;
	font-size: 1em;
}

.footer {
	color: var(--text-color);
	background-color:transparent;
	font-size:0.75em;
	margin-bottom:0;
	text-align:center;
	width: inherit;
}
/*Nav*/
.nav {
	background-color:var(--content-bg-color);
	box-shadow:10px 10px var(--nav-bottom-border);
	padding: 10px;
	margin-left:10vw;
	margin-right:10vw;
	text-align:right;
	border-radius: 5px;
	height: 6em;
}

.name {
	display:inline-block;
	float:left;
	padding:1em;
	vertical-align:top;
}

.name_img {
	height:5em;
	width:auto;
}

.h_nav {
	background-color:var(--content-bg-color);
	color:var(--nav-text-color);
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
	border:none;
	font-size:1.125em;
	display: inline-block; /*KEEPS INLINE WITH NAME PLATE*/
	padding:2em;
	text-decoration:none;
	vertical-align:top;
	white-space: nowrap;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.h_nav:visited {
	text-decoration:none;
}

.h_nav:hover {
	color:var(--nav-hover-color);
}

/*Mobile Nav*/
.links .icon{
	color: var(--text-color);
	padding: 1em;
	padding-top: 1.75em;
	display: none;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
@media screen and (max-width:1375px){
	.links a{
		display: none;
	}
	.links a.icon{
		display: inline-flex;
	}
	.links a.icon:hover{
		color: var(--nav-hover-color);
	}
	.links.expanded a:not(:first-child){
		display:block;
		text-align: center;
		border-radius: 50px;
		font-size: 1.25em;
	}
	.nav{
		height: auto;
	}
	#welcome p{
		font-size: 1.125em;
	}
	#welcome{
		display: block;
		text-align: left;
	}
}


/*INDEX*/
#portrait{
	padding: 1em;
	height: 30vw;
	width: auto;
	float: left;
}
#welcome {
	display:inline-block;
	float:right;
	word-wrap: break-word;
	word-wrap:normal;
	line-height: 1.5em;
}

/*Technology*/
.placeholder{
	width: 100%;
	text-align: center;
}
